.pacman {
  position: relative;
  widows: 100%;
  border-radius: 50%;
  background-color: gold;

  &.is-invinsible {
    animation: is-invinsible 0.15s alternate infinite;
  }

  .pacman__eye {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50px;
    background-color: black;
    top: 3px;
    right: 6px;
  }

  .pacman__mouth {
    position: absolute;
    background-color: black;
    width: 102%;
    height: 100%;
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }

  .pacman__mouth.is-eating {
    animation: eat 0.5s infinite alternate;
  }

  .pacman__mouth.is-dead {
    animation: is-dead 1s linear forwards;
  }

  &.going-left {
    transform: rotateY(180deg);
  }

  &.going-down {
    transform: rotateZ(90deg);
  }

  &.going-up {
    transform: rotateZ(-90deg);
  }
}
