@keyframes eat {
  0% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
  25% {
    clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
  }
  50% {
    clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
  }
  75% {
    clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
  }
  100% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
}

@keyframes is-invinsible {
  to {
    opacity: 0;
  }
}

@keyframes is-dead {
  from {
    clip-path: polygon(
      49% 54%,
      61% 59%,
      74% 63%,
      100% 66%,
      100% 47%,
      76% 48%,
      61% 50%
    );
  }
  40% {
    clip-path: polygon(
      50% 52%,
      64% 75%,
      75% 99%,
      100% 99%,
      99% 0%,
      81% 0%,
      64% 28%
    );
  }
  70% {
    clip-path: polygon(
      50% 54%,
      0% 83%,
      0% 100%,
      100% 99%,
      99% 0%,
      1% 0%,
      0% 16%
    );
  }
  to {
    clip-path: polygon(
      48% 54%,
      0% 54%,
      0% 99%,
      99% 99%,
      100% 0%,
      0% 0%,
      1% 50%
    );
  }
}
